* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size  : 16px;
    line-height: 1.5;
    background : #fff;
    overflow-x : hidden;
}

a {
    text-decoration: none;
    color          : #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */

.navbar {
    background: #fff;
    padding   : 20px;
}

.navbar .container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.navbar .container .logo {
    width: 120px;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding    : 10px 20px;
    display    : block;
    font-weight: 600;
    transition : 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

.navbar ul li a {
    margin-right: 10px;
}

/* mobile menu */

.hamburger-button {
    display   : none;
    background: none;
    border    : none;
    cursor    : pointer;
    padding   : 10px;
    z-index   : 1000;
}

.hamburger-button i {
    font-size : 1.5rem;
    background: transparent;
    border    : none;
    outline   : none;
}

.mobile-menu {
    position  : fixed;
    top       : 0;
    right     : -300px;
    width     : 250px;
    height    : 100%;
    z-index   : 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu ul {
    margin-top   : 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size : 18px;
    transition: 0.3s;
}

/* Hero */

.hero {
    margin-bottom: 50px;
}

.hero .container {
    background         : url("../images/hero-bg.png") no-repeat;
    background-size    : contain;
    background-position: center bottom;
    height             : 550px;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width        : 70%;
    margin-bottom: 20px;
}


/* Video */

.video {
    padding: 10px 0 40px;
}

.video .video-content {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.video .video-preview {
    margin-bottom: 20px;
}

/* Testimonials */

.testimonials {
    padding: 40px 0;
}

.testimonials .testimonials-heading {
    width        : 700px;
    margin-bottom: 40px;
}

.testimonials .testimonials-grid {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 30px;
}

.testimonials .card p:nth-child(2) {
    margin-top : 30px;
    font-weight: bold;
}

.testimonials .card p:nth-child(3) {
    color      : var(--primary-color);
    font-weight: 400;
}

/* Pricing */

.pricing .pricing-grid {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    align-items          : center;
    gap                  : 30px;
    margin-top           : 50px;
}

.pricing .pricing-card-subheading {
    margin-bottom: 30px;
}

.pricing .pricing-card-price {
    margin-bottom: 30px;
    padding      : 20px 0;
    border-bottom: 1px solid #ccc;
}

.pricing ul {
    margin: 30px 0;
}

.pricing ul li {
    margin-bottom: 20px;
}

.pricing ul li i {
    margin-right: 10px;
}

.pricing .pricing-footer {
    margin: 30px 0;
}

/* FAQ */

.faq {
    padding: 40px 0;
}

.faq ul.faq-menu {
    max-width      : 400px;
    margin         : auto;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    background     : #ddd;
    padding        : 10px 20px;
    border-radius  : 10px;
    font-weight    : 600;
    cursor         : pointer;
}

.faq ul.faq-menu li {
    padding      : 10px 20px;
    border-radius: 5px;
    text-align   : center;
}

.faq ul.faq-menu li.active {
    background: var(--primary-color);
    color     : #fff;
}

.faq .faq-group {
    border-bottom : 1px solid #ccc;
    padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
    padding      : 20px 0;
    margin-bottom: 15px;
    position     : relative;
}

.faq .faq-group .faq-group-header h4 {
    font-weight: 600;
    width      : 95%;
}

.faq .faq-group .faq-group-header i {
    position : absolute;
    right    : 0;
    top      : 40px;
    font-size: 1.3rem;
    cursor   : pointer;
}

.faq .faq-group .faq-group-body {
    display: none;
}

.faq .faq-group .faq-group-body.open {
    display: block;
}

/* Footer */

.footer {
    padding: 40px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #ccc;
}

.footer i {
    font-size   : 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display              : grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap                  : 30px;
    justify-content      : center;
    align-items          : center;
}

.footer .card {
    margin    : 20px 30px 30px 0;
    background: #ddd;
}

.footer input[type="email"] {
    width        : 100%;
    padding      : 10px;
    border       : 1px solid #ccc;
    border-radius: 5px;
    margin       : 20px 0;
}