$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url('https://github.com/bradtraversy/modern_portfolio/blob/master/dist/img/background.jpg?raw=true');
$opacity: 0.9;



@mixin easeOut {
    transition: all 0.5s ease-out;
  }
  
  @mixin background {
    @if $show-home-image {
      &#bg-img {
        background: $home-image;
        background-attachment: fixed;
        background-size: cover;
  
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: rgba( $primary-color ,$opacity);
        }
      }
    }
  }
  
  //set text color
  @function set-text-color($color){
      @if(lightness($color)>40){
          @return #000;
      }
      @else{
         @return #fff;
      }
  }
  
  